In [1]:
import pandas as pd

df = pd.read_csv('/kaggle/input/credit-risk-customers/credit_customers.csv')
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad

In [2]:
df.shape

(1000, 21)

In [3]:
df.dtypes

checking_status            object
duration                  float64
credit_history             object
purpose                    object
credit_amount             float64
savings_status             object
employment                 object
installment_commitment    float64
personal_status            object
other_parties              object
residence_since           float64
property_magnitude         object
age                       float64
other_payment_plans        object
housing                    object
existing_credits          float64
job                        object
num_dependents            float64
own_telephone              object
foreign_worker             object
class                      object
dtype: object

In [4]:
n = 1
for (columnName, columnData) in df.iteritems():
    if columnData.dtype == 'O':
        print('S.no   : ', n)
        print('Name   : ', columnName)
        print('Unique : ', columnData.unique())
        print('No     : ',len(columnData.unique()))
        print()
        n+=1
    else:
        pass

S.no   :  1
Name   :  checking_status
Unique :  ['<0' '0<=X<200' 'no checking' '>=200']
No     :  4

S.no   :  2
Name   :  credit_history
Unique :  ['critical/other existing credit' 'existing paid' 'delayed previously'
 'no credits/all paid' 'all paid']
No     :  5

S.no   :  3
Name   :  purpose
Unique :  ['radio/tv' 'education' 'furniture/equipment' 'new car' 'used car'
 'business' 'domestic appliance' 'repairs' 'other' 'retraining']
No     :  10

S.no   :  4
Name   :  savings_status
Unique :  ['no known savings' '<100' '500<=X<1000' '>=1000' '100<=X<500']
No     :  5

S.no   :  5
Name   :  employment
Unique :  ['>=7' '1<=X<4' '4<=X<7' 'unemployed' '<1']
No     :  5

S.no   :  6
Name   :  personal_status
Unique :  ['male single' 'female div/dep/mar' 'male div/sep' 'male mar/wid']
No     :  4

S.no   :  7
Name   :  other_parties
Unique :  ['none' 'guarantor' 'co applicant']
No     :  3

S.no   :  8
Name   :  property_magnitude
Unique :  ['real estate' 'life insurance' 'no known property' 'car']
No     :  4

S.no   :  9
Name   :  other_payment_plans
Unique :  ['none' 'bank' 'stores']
No     :  3

S.no   :  10
Name   :  housing
Unique :  ['own' 'for free' 'rent']
No     :  3

S.no   :  11
Name   :  job
Unique :  ['skilled' 'unskilled resident' 'high qualif/self emp/mgmt'
 'unemp/unskilled non res']
No     :  4

S.no   :  12
Name   :  own_telephone
Unique :  ['yes' 'none']
No     :  2

S.no   :  13
Name   :  foreign_worker
Unique :  ['yes' 'no']
No     :  2

S.no   :  14
Name   :  class
Unique :  ['good' 'bad']
No     :  2

In [5]:
df[['sex', 'marriage']] = df.personal_status.str.split(" ", expand = True)
df.drop(['personal_status'], axis=1, inplace = True)

In [6]:
df.head(5)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,other_parties,residence_since,...,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class,sex,marriage
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,none,4.0,...,none,own,2.0,skilled,1.0,yes,yes,good,male,single
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,none,2.0,...,none,own,1.0,skilled,1.0,none,yes,bad,female,div/dep/mar
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,none,3.0,...,none,own,1.0,unskilled resident,2.0,none,yes,good,male,single
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,guarantor,4.0,...,none,for free,1.0,skilled,2.0,none,yes,good,male,single
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,none,4.0,...,none,for free,2.0,skilled,2.0,none,yes,bad,male,single

In [7]:
df['checking_status'].replace(['no checking', '<0', '0<=X<200', '>=200'], [0,1,2,3], inplace = True)
df['credit_history'].replace(['critical/other existing credit', 'delayed previously' , 'existing paid', 'no credits/all paid', 'all paid'], [0,1,2,2,2], inplace = True)
df['purpose'].replace(['business', 'new car','used car', 'education', 'retraining', 'other','domestic appliance','radio/tv','furniture/equipment','repairs'], [5,5,4,4,3,3,3,2,2,1], inplace = True)
df['savings_status'].replace(['no known savings', '<100','100<=X<500','500<=X<1000','>=1000'], [0,1,2,3,4], inplace = True)
df['employment'].replace(['unemployed', '<1','1<=X<4','4<=X<7','>=7'], [0,1,2,3,4], inplace = True)
df['other_parties'].replace(['none', 'co applicant', 'guarantor'], [0,1,2], inplace = True)
df['property_magnitude'].replace(['no known property', 'life insurance', 'car', 'real estate'], [0,1,2,3], inplace = True)
df['other_payment_plans'].replace(['none', 'stores', 'bank'], [0,1,1], inplace = True)
df['housing'].replace(['for free', 'rent', 'own'], [0,1,2], inplace = True)
df['job'].replace(['unemp/unskilled non res', 'unskilled resident', 'skilled', 'high qualif/self emp/mgmt'], [0,1,2,3], inplace = True)
df['own_telephone'].replace(['yes', 'none'], [1,0], inplace = True)
df['foreign_worker'].replace(['yes', 'no'], [1,0], inplace = True)
df['class'].replace(['good', 'bad'], [1,0], inplace = True)
df['sex'].replace(['male', 'female'], [1,0], inplace = True)
df['marriage'].replace(['single', 'div/sep','div/dep/mar','mar/wid'], [0,0,1,1], inplace = True)

In [8]:
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,other_parties,residence_since,...,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class,sex,marriage
0,1,6.0,0,2,1169.0,0,4,4.0,0,4.0,...,0,2,2.0,2,1.0,1,1,1,1,0
1,2,48.0,2,2,5951.0,1,2,2.0,0,2.0,...,0,2,1.0,2,1.0,0,1,0,0,1
2,0,12.0,0,4,2096.0,1,3,2.0,0,3.0,...,0,2,1.0,1,2.0,0,1,1,1,0
3,1,42.0,2,2,7882.0,1,3,2.0,2,4.0,...,0,0,1.0,2,2.0,0,1,1,1,0
4,1,24.0,1,5,4870.0,1,2,3.0,0,4.0,...,0,0,2.0,2,2.0,0,1,0,1,0

In [9]:
df.dtypes

checking_status             int64
duration                  float64
credit_history              int64
purpose                     int64
credit_amount             float64
savings_status              int64
employment                  int64
installment_commitment    float64
other_parties               int64
residence_since           float64
property_magnitude          int64
age                       float64
other_payment_plans         int64
housing                     int64
existing_credits          float64
job                         int64
num_dependents            float64
own_telephone               int64
foreign_worker              int64
class                       int64
sex                         int64
marriage                    int64
dtype: object

In [10]:
from sklearn.preprocessing import StandardScaler
X = df.drop(['class'], axis=1)
y = df['class']
std_scaler = StandardScaler()
Xa = std_scaler.fit_transform(X)

In [11]:
X = pd.DataFrame(Xa, columns = X.columns)

In [12]:
df.columns

Index(['checking_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'other_parties', 'residence_since',
       'property_magnitude', 'age', 'other_payment_plans', 'housing',
       'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class', 'sex', 'marriage'],
      dtype='object')

In [13]:
from sklearn.model_selection import train_test_split


a,d,s,f = train_test_split(X,y)

In [14]:
y

0      1
1      0
2      1
3      1
4      0
      ..
995    1
996    1
997    1
998    0
999    1
Name: class, Length: 1000, dtype: int64

In [15]:
X.shape

(1000, 21)

In [16]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [17]:
for i in [a,s,d,f]:
    print(i.shape)

(750, 21)
(750,)
(250, 21)
(250,)

In [18]:
model.fit(a,s)
g = model.predict(d)

In [19]:
from sklearn.metrics import classification_report
classification_report(f,g)

'              precision    recall  f1-score   support\n\n           0       0.53      0.33      0.41        75\n           1       0.75      0.87      0.81       175\n\n    accuracy                           0.71       250\n   macro avg       0.64      0.60      0.61       250\nweighted avg       0.69      0.71      0.69       250\n'

In [20]:
def model_eval(m):
    model = m
    model.fit(a,s)
    g = model.predict(d)
    print(model)
    print(classification_report(f,g))

In [21]:
model_eval(LogisticRegression())

LogisticRegression()
              precision    recall  f1-score   support

           0       0.53      0.33      0.41        75
           1       0.75      0.87      0.81       175

    accuracy                           0.71       250
   macro avg       0.64      0.60      0.61       250
weighted avg       0.69      0.71      0.69       250

In [22]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, max_features = 20)

In [23]:
model_eval(rf)

RandomForestClassifier(max_features=20)
              precision    recall  f1-score   support

           0       0.58      0.45      0.51        75
           1       0.79      0.86      0.82       175

    accuracy                           0.74       250
   macro avg       0.68      0.66      0.66       250
weighted avg       0.72      0.74      0.73       250